<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/comparateur</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">true</property>
         <property name="show_sql">true</property>
         
          <mapping class="com.model.Hotel" /> 
          <mapping class="com.model.Ville"/>
          <mapping class="com.model.Pays" />
          <mapping class="com.model.Arrangement" />
          <mapping class="com.model.TypeChambre" />
          <mapping class="com.model.Offre" />
          <mapping class="com.model.SiteAgence" />
          
          <mapping class="com.model.OffreId" />
          <mapping class="com.model.DisponibiliteId" />
          <mapping class="com.model.Disponibilite" /> 
         
          
          
         <mapping package="com.model" />   

    </session-factory>
</hibernate-configuration>
